#tela-inicial{
  background:linear-gradient(135deg,#a855f7,#ec4899);
  text-align:center;
  position:relative;
}

#tela-inicial h1{
  font-size:2.4rem;
  font-weight:800;
}
#tela-inicial h1 span{
  color:#22d3ee;
  font-size:2.8rem;
}

.tags-flutuantes {
  position: relative;
  margin-top: 20px;
}

.tag {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  margin: 5px;
  color: #000;
  font-weight: 600;
  transform: rotate(-5deg);
}

.tag.amarela { background: #f0c402; }
.tag.rosa { background: #f472b6; }
.tag.verde { background: #a3e635; }

#btnComecar {
  background: #c084fc;
  color: #fdfcfc;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

#btnComecar:hover {
  transform: scale(1.05);
}