#detalhe-info-texto {
font-size: 20px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
}

.detalhe-info img {
  width: 100%;       
  height: 200px;    
  object-fit: cover; 
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

.rep-box {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.rep-btn {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  background: rgba(255,255,255,0.2);
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: .2s;
}

.rep-btn.checked {
  background: #4d614663;
  color: rgb(255, 255, 255);
  border-color: #90bb7f;
  transform: scale(1.1);
}